{% extends 'base.html' %}

{% block conteudo %}
<br>
<a href="{% url 'musica:album_new' %}" class="btn btn-primary mb-3">Novo</a>

<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <td>ID</td>
            <td>Titulo</td>
            <td>Album</td>
            <td>Data</td>
        </tr>
    </thead>
    {% for album in albuns %}
    <tr>
        <td>{{ album.id }}</td>
        <td><a href="{% url 'musica:album_detail' album.id %}">{{ album.titulo }}</a></td>
        <td>{{ album.banda }}</td>
        <td>{{ album.data }}</td>
    
        <td><a href="{% url 'musica:album_edit' album.id %}" class="btn btn-secundary btn-sm">Alterar</a></td>
        <td><a href="{% url 'musica:album_delete' album.id %}" class="btn btn-danger btn-sm">Deletar</a></td>
    </tr>
    {% endfor %}
</table>
   
{% endblock %}